.detailed-weather-info .day-and-date,
.detailed-weather-info .time,
.detailed-weather-info .weather-icon,
.detailed-weather-info .weather-description {
    text-align: center;
}

.detailed-weather-info .detailed-info-grid {
    display: grid;
    grid-template-columns: 0.7fr 2fr 2fr;
    grid-auto-rows: 1fr;
}

.detailed-weather-info .wi {
    font-size: 1.5em;
}

.detailed-weather-info .day-and-date {
    font-size: 1.2em;
}

.detailed-weather-info .time {
    font-size: 1.5em;
    margin-bottom: 0.3em;
}

.detailed-weather-info .weather-icon .wi {
    font-size: 4.5em;
    padding-top: 0.16em;
    padding-bottom: 0.16em;
}

.detailed-weather-info .weather-description {
    margin-bottom: 1.9em;
}

.detailed-weather-info i,
.detailed-weather-info div {
    align-self: center;
}

.detailed-weather-info .detailed-info-grid .wi {
    justify-self: center;
}

.detailed-weather-info .detailed-info-grid .weather-reading {
    justify-self: end;
    margin-right: 0.5em;
}

.detailed-weather-info .detailed-info-grid .wi-thermometer {
    grid-area: 1 / 1 / 2 / 2;
}

.detailed-weather-info .detailed-info-grid .temperature-label {
    grid-area: 1 / 2 / 2 / 3; 
}

.detailed-weather-info .detailed-info-grid .temperature-reading {
    grid-area: 1 / 3 / 2 / 4;
}

.detailed-weather-info .detailed-info-grid .wi-barometer {
    grid-area: 2 / 1 / 3 / 2;
}

.detailed-weather-info .detailed-info-grid .pressure-label {
    grid-area: 2 / 2 / 3 / 3;
}

.detailed-weather-info .detailed-info-grid .pressure-reading {
    grid-area: 2 / 3 / 3 / 4;
}

.detailed-weather-info .detailed-info-grid .wi-humidity {
    grid-area: 3 / 1 / 4 / 2;
}

.detailed-weather-info .detailed-info-grid .humidity-label {
    grid-area: 3 / 2 / 4 / 3;
}

.detailed-weather-info .detailed-info-grid .humidity-reading {
    grid-area: 3 / 3 / 4 / 4;
}

.detailed-weather-info .detailed-info-grid .wi-strong-wind {
    grid-area: 4 / 1 / 5 / 2;
}

.detailed-weather-info .detailed-info-grid .wind-speed-label {
    grid-area: 4 / 2 / 5 / 3;
}

.detailed-weather-info .detailed-info-grid .speed-reading {
    grid-area: 4 / 3 / 5 / 4;
}

.detailed-weather-info .detailed-info-grid .wi-wind {
    grid-area: 5 / 1 / 6 / 2;
    font-size: 2em;
}

.detailed-weather-info .detailed-info-grid .wind-direction-label {
    grid-area: 5 / 2 / 6 / 3;
}

.detailed-weather-info .detailed-info-grid .wind-direction-reading {
    grid-area: 5 / 3 / 6 / 4;
}

.detailed-weather-info .detailed-info-grid .wi-cloud {
    grid-area: 6 / 1 / 7 / 2;
}

.detailed-weather-info .detailed-info-grid .cloudiness-label {
    grid-area: 6 / 2 / 7 / 3;
}

.detailed-weather-info .detailed-info-grid .cloudiness-reading {
    grid-area: 6 / 3 / 7 / 4;
}