.home .title {
    text-align: center;
    margin-bottom: 0.2em;
}

.home a:link {
    text-decoration: none;
}

.home a:link,
.home a:visited {
    color: black;
}

.home a:focus {
    outline: 0;
}

.home .current-weather-info {
    margin: 0 auto;
    width: 12em;
}

.home .current-weather-info .weather-tile {
    display: flex;
    justify-content: center;
    border: 0px;
}

.home .current-weather-info .weather-tile .weather-day {
    font-size: 2em;
}

.home .current-weather-info .weather-tile .weather-time {
    font-size: 1.6em;
}

.home .current-weather-info .weather-tile .wi {
    font-size: 7em;
}

.home .current-weather-info .weather-tile .weather-temperature {
    font-size: 2em;
}

.home .forecast-tile-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
    margin-left: 0;
}

.home .forecast-tile-list-item {
    list-style: none;
    padding: 0em 0.2em 0.2em;
}