.layout {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}

.layout .home {
    flex: 0 1 auto;
}

.layout.layout-large .detailed-weather-info {
    flex: 0 0 16.5em;
    background: linear-gradient(lightgrey, #fff);
}

.layout.layout-large .detailed-weather-info a.close:link {
    text-decoration: none;
}

.layout.layout-large .detailed-weather-info a.close:link,
.layout.layout-large .detailed-weather-info a.close:visited {
    color: rgb(139, 139, 139);
}

.layout.layout-large .detailed-weather-info .close {
    font-size: 1.25em;
    position: absolute;
    
}   

.layout.layout-small .detailed-weather-info {
    margin-left: auto;
    margin-right: auto;
    width: 16.5em;
}